body {
  font: 10px sans-serif;
  font-family: 'Droid Sans Mono', 'Hack';
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}
.user-line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
.svg-container {
  min-width: 1280px;
  margin-top: 70px;
}
.line {
  stroke-opacity: 1
}
#input {
  position: absolute;
  top: 70px;
  left: 70px
}
form {
  margin: 0;
  position: relative
}
.inputForm {
  height: 40px;
  width: 500px;
  padding: 10px;
  font-size: 24px;
  font-family: 'Droid Sans Mono', serif;
  position: relative;
}
:focus {
  outline: none;
}
.inputSubmit {
  position: absolute;
  display: block;
  width: 100px;
  padding: 10px;
  -webkit-appearance: none;
  background: rgb(161, 255, 173);
  font-family: 'Droid Sans Mono', monospace;
  border: none;
  border-left: .25px solid rgba(200, 200, 200, 0.6);
  cursor: pointer;
}

.inputSubmit {
  top: 1px;
  right: 1px;
  height: 38px;
}

.inputSubmit:disabled {
  background-color: white;
}

#chart { }

.selection {
  background-color: rgb(222, 222, 220);
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 1px;
}

.selection-content {
  letter-spacing: -3px;
  font-size: 36px;
  position: absolute;
  font-family: 'Droid Sans Mono', 'Hack', monospace;
  padding-top: 20px;
}
.selection-content.left {
  padding-right: 20px !important;
  right: 0 !important;
  padding-left: 0 !important;
  left: initial !important;
}
.selection-content.right {
  left: 0;
  padding-left: 20px;
}
