body {
  font: 10px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.user-line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.svg-container {
  min-width: 1280px;
}

.line {
  stroke-opacity: 1
}

div.selection {
  background-color: rgb(222, 222, 220);
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
