body {
  font: 10px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.user-line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.svg-container {
  min-width: 1280px;
}

.line {
  stroke-opacity: 1
}

.selection {
  background-color: rgb(222, 222, 220);
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 1px;
}

.selection-content {
  font-size: 36px;
  position: absolute;
  bottom: 20px;
}

.selection-content.left {
  padding-right: 20px !important ;
  right: 0 !important;
  padding-left: 0 !important;
  left: initial !important;
}
.selection-content.right {
  left: 0;
  padding-left: 20px;
}
