/* todo - mp - not make this an afterthought, but it works for now */

body {
  font: 10px sans-serif;
  font-family: 'Courier', monospace;
  background: rgb(31, 31, 34)
}
.axis path, .axis line {
  fill: none;
  stroke: rgb(250, 250, 250);
  display: none;

  shape-rendering: crispEdges;
}
.axis text {
  color: rgb(250, 250, 250);
  fill: white
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}
.user-line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
.line {
  stroke-opacity: 1
}
#input {
  position: absolute;
  bottom: 100px;
  left: 70px
}
form {
  margin: 5px 0px;
  position: relative
}
.inputForm {
  height: 40px;
  width: 500px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Courier', monospace;
  position: relative;
  border: none;
  border-radius: 0px;
  margin-right: 5px
}
:focus {
  outline: none;
}
.inputSubmit {
  height: 40px;
  position: relative;
  float: right;
  display: block;
  width: 100px;
  padding: 10px;
  -webkit-appearance: none;
  background: rgb(141, 229, 97);
  font-family: 'Courier', monospace;
  border: none;
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: rgb(37, 41, 41)
}
.inputSubmit:disabled {
  background-color: white;
}

.selection {
  background-color: rgb(222, 222, 220);
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 1px;
}

.divider {
  border-top: 1px solid white;
  margin: 10px -20px;
}
.selection-content {
  letter-spacing: -3px;
  font-size: 36px;
  position: absolute;
  font-family: 'Courier', monospace;
  padding-top: 20px;
}
.selection-content.left {
  padding-right: 20px !important;
  right: 0 !important;
  padding-left: 0 !important;
  left: initial !important;
}
.selection-content.right {
  left: 0;
  padding-left: 20px;
}

@media (max-width: 600px) {
  form { width: 100%; float: left }
  #input { left: 0; }
  .inputForm { width: 73%; width: calc(100% - 105px) }
  .inputSubmit { width: 20%; width: 100px }

}
